* {
  font-family: Arial, Helvetica, sans-serif;  
}

body {
    background-color: aqua;
}

h1 {
    text-align: center;
}

div.formulario {
    background-color: teal;
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
}