#prev {
  display: none;
}

#next {
  display: none;
}

#start {
  display: none;
}
body {
  height: 100%;
}
.bg {
background-image: url("../images/background.png");
background-repeat: repeat-x;
/* Full height */
height: 100%;


}

.padding-icons {
  padding: 5px;
}

.form-color {
  background:#C4C4C4;
}

.copy-link {
  margin-top: 15px;
  margin-bottom: 8px;
  flex-direction: row;
  padding: 8px 106px;
  max-width: 400px;  
  height: 62px;
  background:#C4C4C4;
}
.form {

  padding: 20px;
  max-width: 400px;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.title-index {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  color: #2A2A2A;
}

.text-form {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #2A2A2A;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: transparent !important;
  border: none !important;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.center-things {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.button-next {
  margin-top: 15px;
  margin-bottom: 8px;
  flex-direction: row;
  padding: 16px 106px;
  max-width: 400px;
  height: 62px;  
  background: #1D781D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

.button-choice {
  margin-top: 8px;
  margin-bottom: 8px;
  flex-direction: row;
  padding: 10px 16px;
  width: 331px;
  left: 38px;
  top: 363px;
  background: #C4C4C4;
}

.button-selected {
  color: #fff !important;
  background: #1D781D;
  border-color: #1D781D;
}

.text-button-copy {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 21px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: left !important;
  margin: 10px 0px;
}

.text-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #F8F8F8;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;
}


.text-button-choices {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #212529;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;
}


.share-text {
  color: #ffffff;
}

.card-img-top {
  max-height: 350px;
  max-width: 300px;
}

/*CUSTOMIZAÇÃO DA KELLY*/
input.form-control {
  background-color: #eeeeee;
}

.money {
  color: green;
}

.texto-chamada {
  font-size: 18px;
  text-align: justify;
}

.chamada-form {
  text-align: center;
}


.footer {
  background-color: #30cc81;
  padding: 25px;
  color: #ffffff;
}

a.padding-icons svg {
  width: 53px;
  height: 54px;
	-webkit-transition: .5s all ease-in-out;
	-moz-transition: .5s all ease-in-out;
	transition: .5s all ease-in-out
}

a.padding-icons svg:hover {
  width: 63px;
  height: 64px;
  margin-top: -10px;
}


@media(min-width: 768px)
{
  #container {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 25px;
    background-color: #30cc81;
    color: #ffffff;
    border-radius: 25px;
  }

  input.form-control {
    background-color: #ffffff;
  }

  label b {
    color: #ffffff;
  }
}
